{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Créer un utilisateur</h5>
              <div class="card">
                <div class="card-body">
                  <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Pseudo</label>
                            <input type="text" name="username" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Nom</label>
                            <input type="text" name="firstName" class="form-control" id="firstName">
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Prenom</label>
                            <input type="text" name="lastName" class="form-control" id="lastName">
                        </div>
                      <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" required>
                      </div>
                      <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Créer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}