{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Créer un projet</h5>
              <div class="card">
                <div class="card-body">
                  <form method="post">
                    {% csrf_token%}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Nom de la tahce</label>
                      <input type="text" name="nom" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Description</label>
                      <input type="text" name="description" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                      <label for="realizedby" class="form-label">Choisissez un utilisateur :</label>
                      <select name="realizedby" id="realizedby">
                        <option value="">-- Sélectionnez un utilisateur --</option>
                          {% for user in users %}
                          <option value="{{ user.id }}">{{ user.username }}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="status" class="form-label">Choisissez un status:</label>
                      <select name="status" id="status">
                        <option value="">-- Sélectionnez un utilisateur --</option>
                          {% for statu in status %}
                          <option value="{{ statu.id }}">{{ statu.nom }}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Créer</button>
                  </form>
                </div>
                <a href="/showProjet/" class="btn btn-primary">Retour</a>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}