{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Modifier le projet : {{ projet.nom }}</h5>
              <div class="card">
                <div class="card-body">
                  <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Nom du projet</label>
                      <input type="text" value="{{ projet.nom }} " name="nom" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Description</label>
                      <input type="text" value="{{ projet.description }} " name="description" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                  </form>
                </div>
                <a href="/showProjet/" class="btn btn-primary">Retour</a>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}